<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>ProUI - Responsive Bootstrap Admin Template</title>

        <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="img/favicon.ico">
        <link rel="apple-touch-icon" href="img/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="img/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="img/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="img/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="img/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="img/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="img/icon152.png" sizes="152x152">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="css/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="css/main.css">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="css/themes.css">
        <!-- END Stylesheets -->

        <!-- Modernizr (browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8) -->
        <script src="js/vendor/modernizr-2.7.1-respond-1.4.2.min.js"></script>
    </head>
    <!-- In the PHP version you can set the following options from inc/config file -->
    <!--
        Available body classes:

        'page-loading'      enables page preloader
    -->
    <body>
        <!-- Preloader -->
        <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
        <!-- Used only if page preloader is enabled from inc/config (PHP version) or the class 'page-loading' is added in body element (HTML version) -->
        <div class="preloader themed-background">
            <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>
            <div class="inner">
                <h3 class="text-light visible-lt-ie9 visible-lt-ie10"><strong>Loading..</strong></h3>
                <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
            </div>
        </div>
        <!-- END Preloader -->

            <!-- Main Container -->
            <div id="main-container">
                <!-- Header -->
                <!-- In the PHP version you can set the following options from inc/config file -->
                <!--
                    Available header.navbar classes:

                    'navbar-default'            for the default light header
                    'navbar-inverse'            for an alternative dark header

                    'navbar-fixed-top'          for a top fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar())
                        'header-fixed-top'      has to be added on #page-container only if the class 'navbar-fixed-top' was added

                    'navbar-fixed-bottom'       for a bottom fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar()))
                        'header-fixed-bottom'   has to be added on #page-container only if the class 'navbar-fixed-bottom' was added
                -->
                <header class="navbar navbar-default navbar-fixed-top">

                    <div class="container-fluid">
                      <div class="navbar-header"><a class="navbar-brand" href="#">Pabi Bot</a>
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                          </button>
                      </div>
                      <div class="collapse navbar-collapse navbar-menubuilder">
                          <ul class="nav navbar-nav navbar-right">
                              <li><a href="/">HOME</a>
                              </li>
                              <li><a href="/">LINK</a>
                              </li>
                              <li><a href="/">LINK</a>
                              </li>
                              <li><a href="/">LOGOUT</a>
                              </li>
                          </ul>
                      </div>
                    </div>
                </header>
                <!-- END Header -->

                <!-- Page content -->
                <div id="page-content" style="margin-top: 50px;">
                    <!-- Dashboard Header -->
                    <!-- For an image header add the class 'content-header-media' and an image as in the following example -->

                    <!-- Mini Top Stats Row -->
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <!-- Widget -->
                            <a href="page_ready_article.html" class="widget widget-hover-effect1">
                                <div class="widget-simple">
                                    <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                                        <i class="fa fa-file-text"></i>
                                    </div>
                                    <h3 class="widget-content text-right animation-pullDown">
                                        New <strong>Article</strong><br>
                                        <small>Mountain Trip</small>
                                    </h3>
                                </div>
                            </a>
                            <!-- END Widget -->
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <!-- Widget -->
                            <a href="page_comp_charts.html" class="widget widget-hover-effect1">
                                <div class="widget-simple">
                                    <div class="widget-icon pull-left themed-background-spring animation-fadeIn">
                                        <i class="gi gi-usd"></i>
                                    </div>
                                    <h3 class="widget-content text-right animation-pullDown">
                                        + <strong>250%</strong><br>
                                        <small>Sales Today</small>
                                    </h3>
                                </div>
                            </a>
                            <!-- END Widget -->
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <!-- Widget -->
                            <a href="page_ready_inbox.html" class="widget widget-hover-effect1">
                                <div class="widget-simple">
                                    <div class="widget-icon pull-left themed-background-fire animation-fadeIn">
                                        <i class="gi gi-envelope"></i>
                                    </div>
                                    <h3 class="widget-content text-right animation-pullDown">
                                        5 <strong>Messages</strong>
                                        <small>Support Center</small>
                                    </h3>
                                </div>
                            </a>
                            <!-- END Widget -->
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <!-- Widget -->
                            <a href="page_comp_gallery.html" class="widget widget-hover-effect1">
                                <div class="widget-simple">
                                    <div class="widget-icon pull-left themed-background-amethyst animation-fadeIn">
                                        <i class="gi gi-picture"></i>
                                    </div>
                                    <h3 class="widget-content text-right animation-pullDown">
                                        +30 <strong>Photos</strong>
                                        <small>Gallery</small>
                                    </h3>
                                </div>
                            </a>
                            <!-- END Widget -->
                        </div>
                    </div>
                    <!-- END Mini Top Stats Row -->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="widget">
                                <div class="widget-extra text-center themed-background-dark-night">
                                    <h3 class="widget-content-light"><i class="fa fa-arrow-up animation-floating"></i> Weekly <strong>Stats</strong></h3>
                                </div>
                                <div class="widget-simple">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <a href="javascript:void(0)" class="widget-icon themed-background-spring">
                                                <i class="gi gi-coins"></i>
                                            </a>
                                            <h3 class="remove-margin-bottom">+ <strong>10%</strong><br><small>Earnings</small></h3>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="javascript:void(0)" class="widget-icon themed-background-spring">
                                                <i class="gi gi-thumbs_up"></i>
                                            </a>
                                            <h3 class="remove-margin-bottom">+ <strong>20%</strong><br><small>Sales</small></h3>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="javascript:void(0)" class="widget-icon themed-background-fire">
                                                <i class="fa fa-ticket"></i>
                                            </a>
                                            <h3 class="remove-margin-bottom">- <strong>10%</strong><br><small>Tickets</small></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Widget -->
                            <div class="widget">
                                <div class="widget-extra text-center themed-background-flatie">
                                    <h3 class="widget-content-light"><i class="fa fa-chevron-up animation-floating"></i> Monthly <strong>Stats</strong></h3>
                                </div>
                                <div class="widget-simple themed-background-dark-flatie">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <a href="javascript:void(0)" class="widget-icon themed-background-flatie">
                                                <i class="gi gi-coins"></i>
                                            </a>
                                            <h3 class="widget-content-light remove-margin-bottom">+ <strong>10%</strong><br><small>Earnings</small></h3>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="javascript:void(0)" class="widget-icon themed-background-flatie">
                                                <i class="gi gi-thumbs_up"></i>
                                            </a>
                                            <h3 class="widget-content-light remove-margin-bottom">+ <strong>20%</strong><br><small>Sales</small></h3>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="javascript:void(0)" class="widget-icon themed-background-night">
                                                <i class="fa fa-ticket"></i>
                                            </a>
                                            <h3 class="widget-content-light remove-margin-bottom">- <strong>10%</strong><br><small>Tickets</small></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Widget -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Classic Chart Block -->
                            <div class="block full">
                                <!-- Classic Chart Title -->
                                <div class="block-title">
                                    <h2><strong>Classic</strong> Chart</h2>
                                </div>
                                <!-- END Classic Chart Title -->

                                <!-- Classic Chart Content -->
                                <!-- Flot Charts (initialized in js/pages/compCharts.js), for more examples you can check out http://www.flotcharts.org/ -->
                                <div id="chart-classic" class="chart" style="padding: 0px; position: relative;"><canvas class="flot-base" width="653" height="360" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 653px; height: 360px;"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 345px; left: 22px; text-align: center;">Jan</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 345px; left: 76px; text-align: center;">Feb</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 345px; left: 131px; text-align: center;">Mar</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 345px; left: 187px; text-align: center;">Apr</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 345px; left: 241px; text-align: center;">May</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 345px; left: 299px; text-align: center;">Jun</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 345px; left: 356px; text-align: center;">Jul</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 345px; left: 408px; text-align: center;">Aug</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 345px; left: 463px; text-align: center;">Sep</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 345px; left: 520px; text-align: center;">Oct</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 345px; left: 574px; text-align: center;">Nov</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 345px; left: 630px; text-align: center;">Dec</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div class="flot-tick-label tickLabel" style="position: absolute; top: 332px; left: 19px; text-align: right;">0</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 267px; left: 0px; text-align: right;">1000</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 202px; left: 0px; text-align: right;">2000</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 137px; left: 0px; text-align: right;">3000</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 72px; left: 0px; text-align: right;">4000</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 7px; left: 0px; text-align: right;">5000</div></div></div><canvas class="flot-overlay" width="653" height="360" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 653px; height: 360px;"></canvas><div class="legend"><div style="position: absolute; width: 58px; height: 30px; top: 24px; left: 45px; opacity: 0.85; background-color: rgb(255, 255, 255);"> </div><table style="position:absolute;top:24px;left:45px;;font-size:smaller;color:#545454"><tbody><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(52,152,219);overflow:hidden"></div></div></td><td class="legendLabel">Earnings</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(51,51,51);overflow:hidden"></div></div></td><td class="legendLabel">Sales</td></tr></tbody></table></div></div>
                                <!-- END Classic Chart Content -->
                            </div>
                            <!-- END Classic Chart Block -->
                        </div>
                        <div class="col-sm-6">
                            <!-- Pie Chart Block -->
                            <div class="block full">
                                <!-- Pie Chart Title -->
                                <div class="block-title">
                                    <h2><strong>Pie</strong> Chart</h2>
                                </div>
                                <!-- END Pie Title -->

                                <!-- Pie Chart Content -->
                                <div id="chart-pie" class="chart" style="padding: 0px; position: relative;"><canvas class="flot-base" width="653" height="360" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 653px; height: 360px;"></canvas><canvas class="flot-overlay" width="653" height="360" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 653px; height: 360px;"></canvas><div class="pieLabelBackground" style="position: absolute; width: 69px; height: 50px; top: 46px; left: 371px; opacity: 0.75; background-color: rgb(0, 0, 0);"></div><span class="pieLabel" id="pieLabel0" style="position: absolute; top: 46px; left: 371px;"><div class="chart-pie-label">Support<br>20%</div></span><div class="pieLabelBackground" style="position: absolute; width: 72px; height: 50px; top: 275px; left: 351.5px; opacity: 0.75; background-color: rgb(0, 0, 0);"></div><span class="pieLabel" id="pieLabel1" style="position: absolute; top: 275px; left: 351.5px;"><div class="chart-pie-label">Earnings<br>45%</div></span><div class="pieLabelBackground" style="position: absolute; width: 52px; height: 50px; top: 94px; left: 180.5px; opacity: 0.75; background-color: rgb(0, 0, 0);"></div><span class="pieLabel" id="pieLabel2" style="position: absolute; top: 94px; left: 180.5px;"><div class="chart-pie-label">Sales<br>35%</div></span></div>
                                <!-- END Pie Chart Content -->
                            </div>
                            <!-- END Pie Chart Block -->
                        </div>
                    </div>

                    <!-- Widgets Row -->
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Timeline Widget -->
                            <div class="widget">
                                <div class="widget-extra themed-background-dark">
                                    <div class="widget-options">
                                        <div class="btn-group btn-group-xs">
                                            <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Edit Widget"><i class="fa fa-pencil"></i></a>
                                            <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Quick Settings"><i class="fa fa-cog"></i></a>
                                        </div>
                                    </div>
                                    <h3 class="widget-content-light">
                                        Latest <strong>Transactions</strong>
                                        <small><a href="page_ready_timeline.html"><strong>View all</strong></a></small>
                                    </h3>
                                </div>
                                <div class="widget-extra">
                                    <!-- Timeline Content -->
                                    <div class="timeline">
                                        <ul class="timeline-list">
                                            <li class="active">
                                                <div class="timeline-icon"><i class="fa fa-arrow-right"></i></div>
                                                <div class="timeline-time"><small>5 min ago</small></div>
                                                <div class="timeline-content">
                                                    <p class="push-bit"><a href="page_ready_user_profile.html"><strong>BTC/CNY</strong></a></p>
                                                    <strong>Bought</strong> 0.34 BTC for 456CNY
                                                </div>
                                            </li>
                                            <li class="active">
                                                <div class="timeline-icon themed-background-fire themed-border-fire"><i class="fa fa-arrow-left"></i></div>
                                                <div class="timeline-time"><small>5 min ago</small></div>
                                                <div class="timeline-content">
                                                    <p class="push-bit"><a href="page_ready_user_profile.html"><strong>BTC/CNY</strong></a></p>
                                                    <strong>Sold</strong> 0.34 BTC for 456CNY
                                                </div>
                                            </li>
                                            <li class="text-center">
                                                <a href="javascript:void(0)" class="btn btn-xs btn-default">View more..</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- END Timeline Content -->
                                </div>
                            </div>
                            <!-- END Timeline Widget -->
                        </div>
                        <div class="col-md-6">
                            <!-- Your Plan Widget -->
                            <div class="widget">
                                <div class="widget-extra themed-background-dark">
                                    <div class="widget-options">
                                        <div class="btn-group btn-group-xs">
                                            <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Edit Widget"><i class="fa fa-pencil"></i></a>
                                            <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Quick Settings"><i class="fa fa-cog"></i></a>
                                        </div>
                                    </div>
                                    <h3 class="widget-content-light">
                                        Your <strong>VIP Plan</strong>
                                        <small><a href="page_ready_pricing_tables.html"><strong>Upgrade</strong></a></small>
                                    </h3>
                                </div>
                                <div class="widget-extra-full">
                                    <div class="row text-center">
                                        <div class="col-xs-6 col-lg-3">
                                            <h3>
                                                <strong>35</strong> <small>/50</small><br>
                                                <small><i class="fa fa-folder-open-o"></i> Projects</small>
                                            </h3>
                                        </div>
                                        <div class="col-xs-6 col-lg-3">
                                            <h3>
                                                <strong>25</strong> <small>/100GB</small><br>
                                                <small><i class="fa fa-hdd-o"></i> Storage</small>
                                            </h3>
                                        </div>
                                        <div class="col-xs-6 col-lg-3">
                                            <h3>
                                                <strong>65</strong> <small>/1k</small><br>
                                                <small><i class="fa fa-building-o"></i> Clients</small>
                                            </h3>
                                        </div>
                                        <div class="col-xs-6 col-lg-3">
                                            <h3>
                                                <strong>10</strong> <small>k</small><br>
                                                <small><i class="fa fa-envelope-o"></i> Emails</small>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Your Plan Widget -->
                        </div>
                    </div>
                    <!-- END Widgets Row -->
                </div>
                <!-- END Page Content -->

                <!-- Footer -->
                <footer class="clearfix">
                    <div class="pull-right">
                        Crafted with <i class="fa fa-heart text-danger"></i> by <a href="http://goo.gl/vNS3I" target="_blank">pixelcave</a>
                    </div>
                    <div class="pull-left">
                        <span>2016</span> &copy;
                    </div>
                </footer>
                <!-- END Footer -->
            </div>
            <!-- END Main Container -->
        </div>
        <!-- END Page Container -->

        <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
        <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

        <!-- User Settings, modal which opens from Settings link (found in top right user menu) and the Cog link (found in sidebar user info) -->
        <div id="modal-user-settings" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header text-center">
                        <h2 class="modal-title"><i class="fa fa-pencil"></i> Settings</h2>
                    </div>
                    <!-- END Modal Header -->

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form action="index.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
                            <fieldset>
                                <legend>Vital Info</legend>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Username</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">Admin</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-email">Email</label>
                                    <div class="col-md-8">
                                        <input type="email" id="user-settings-email" name="user-settings-email" class="form-control" value="admin@example.com">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-notifications">Email Notifications</label>
                                    <div class="col-md-8">
                                        <label class="switch switch-primary">
                                            <input type="checkbox" id="user-settings-notifications" name="user-settings-notifications" value="1" checked>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Password Update</legend>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-password">New Password</label>
                                    <div class="col-md-8">
                                        <input type="password" id="user-settings-password" name="user-settings-password" class="form-control" placeholder="Please choose a complex one..">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-repassword">Confirm New Password</label>
                                    <div class="col-md-8">
                                        <input type="password" id="user-settings-repassword" name="user-settings-repassword" class="form-control" placeholder="..and confirm it!">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group form-actions">
                                <div class="col-xs-12 text-right">
                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END Modal Body -->
                </div>
            </div>
        </div>
        <!-- END User Settings -->

        <!-- Remember to include excanvas for IE8 chart support -->
        <!--[if IE 8]><script src="js/helpers/excanvas.min.js"></script><![endif]-->

        <!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>

        <!-- Bootstrap.js, Jquery plugins and Custom JS code -->
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/app.js"></script>

        <!-- Google Maps API + Gmaps Plugin, must be loaded in the page you would like to use maps (Remove 'http:' if you have SSL) -->
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="js/helpers/gmaps.min.js"></script>

        <!-- Load and execute javascript code used only in this page -->
        <script src="js/pages/index.js"></script>
        <script>$(function(){ Index.init(); });</script>
    </body>
</html>