<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Bot Testing</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="css/flat-ui.min.css" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet">
	</head>
	<body>
		<div id="main_navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
	    <div class="container-fluid">
	      <div class="navbar-header"><a class="navbar-brand" href="#">Brand</a>
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
	          </button>
	      </div>
	      <div class="collapse navbar-collapse navbar-menubuilder">
	          <ul class="nav navbar-nav navbar-right">
	              <li><a href="/">HOME</a>
	              </li>
	              <li><a href="/">LINK</a>
	              </li>
	              <li><a href="/">LINK</a>
	              </li>
	              <li><a href="/">LINK</a>
	              </li>
	          </ul>
	      </div>
	    </div>
		</div>
		

		<div class="page">
			<div class="container">
		    	<!-- Title Page -->
		        <div class="title-page">
		          <h2 class="title">Tittle</h2>
		          <h3 class="title-description">Subtitle with a <a href="#">link</a>.</h3>
		        </div>
		        <!-- End Title Page -->
		        
		        <!-- Portfolio Projects -->
		        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et porttitor ligula. Praesent porta massa justo, ut pellentesque lectus condimentum nec. Vivamus fringilla rutrum justo vel varius. Ut vehicula finibus consequat. Duis finibus sem id mauris volutpat, sit amet tempor purus egestas. Proin at nulla eget tellus semper molestie non quis sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras suscipit, urna a hendrerit tincidunt, dolor dolor accumsan nisi, sit amet varius risus velit vel nibh. Vivamus pharetra sem eu metus sollicitudin, nec maximus risus fringilla.</p>

						<p>Mauris ultricies metus nec dolor lacinia rhoncus. Vivamus interdum, eros sit amet lobortis ultricies, tortor libero viverra leo, at rhoncus erat quam a mi. Nam eleifend ac ex non bibendum. Nulla vitae accumsan augue. Quisque vel velit vulputate, tempor risus quis, maximus dui. Aenean a tincidunt elit, non dapibus est. Curabitur dolor nibh, ornare id congue non, gravida vitae felis. Integer dapibus risus scelerisque ex dignissim, vel ullamcorper lectus mattis. Fusce interdum elit vel metus condimentum cursus. Vivamus varius consectetur aliquet. Maecenas nunc mauris, aliquet nec viverra sit amet, condimentum ut tellus. Nulla lacinia eleifend purus ac eleifend. Donec blandit scelerisque ante eleifend suscipit. In at orci blandit, ultricies elit interdum, imperdiet turpis. Nulla elementum mi nec risus tincidunt placerat.</p>
		        <!-- End Portfolio Projects -->
		    </div>
		</div>

		<div class="page-alternate">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-sm-4 col-xs-4 verticalLine">
						<span>Tittle</span><br>
						<span style="font-size: 35px;">32423</span><br>
						<span>Blh</span><br>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/flat-ui.min.js"></script>
	</body>
</html>